@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: blue;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  text-shadow: 2px 2px 2px #a7a6a6;
}

h2 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  text-shadow: 2px 2px 2px #a7a6a6;
}

p {
  text-align: center;
  line-height: 22px;
  color: black;
}

.cards {
  display: flex;
}

img.img-circle {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  object-position: 100% 50%;
  box-shadow: 8px 8px 8px rgb(0 0 0 / 50%);
}

.card-white {
  background-color: #fffbf2;
  width: 400px;
  margin: 24px auto;
  padding: 24px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 24px rgb(0 0 0 / 20%);
}

.list-inline {
  list-style: none;
  margin: 0px auto;
  padding: 0px;
  font-size: 25px;
}

.list-inline li {
  display: inline;
  margin: 3px;
}

a {
  color: black;
  text-decoration: none;
}

a.btn {
  background-color: #fff6ba;
  border-radius: 5px;
  padding: 4px 6px;
  display: inline-block;
  transition: 1s;
}

a.btn:hover {
  background-color: rgb(255, 182, 37);
}

iner is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
